/node_modules
/public/hot
/public/storage
/public/blogimages
/public/images
/public/mobiles
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sitemap.xml
